client,type,id,name,key
CARDIF,product,AEP900AV,Cardif Edition Premium Vie,QGMGiLdrUa0v5O2FCGkmIF7yhcMOJO
SOGECAP,product,00216,Sogecap Ebene,7pPlB7HoeaCTjsHOsYGA87RfJcmpSQ
AXA,product,91734,AXA Arpeges,
GENERALI,underlying,FR0010315770,Amundi (fonds via Generali),
